@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}
.map-imgdesktop,.map-imgtablet {
    display: none;
}
.link2 {
    width: 260px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0
}
.link2 .link-img {
    width: 56px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5966C;
}
.back-home {
    background-color: #151515;
    width: 204px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.back-home a {
    font-family: 'Big Shoulders Display';
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 3.63636px;
}
.back-home:hover {
    background-color: #D5966C;
}
.link2:hover .link-img {
    background-color: #151515;
}
section {
    width: 100%;
    height: 493px;
    background: #151515;
    margin-top: -0.3em;
}
.title .title-h1 {
    height: 45px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1.2em 0.5em 0em 0.5em;
}
.section-info h1 {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    color: #D5966C;
    padding: 1.8em 0.5em 0em 0.5em;
}
.section-info p  {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 0.4em 0em 0em 1em;
    margin-top: 0.7em;
}
.section-info .main {
    margin-top: 2em;
}
footer {
    width: 100%;
    height: 336px;
    background: #D5966C;
}
.logo {
    padding: 3em 0.5em 0em 1em;
}
.info {
    width: 290px;
    height: 104px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
    margin: 1.6em 1em;
}
.social-icons {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
}
@media only screen and (min-width: 400px) {
    .map-imgmobile {
        display: none;
    }
    .map-imgtablet {
        display: block;
    }
    .link2 {
        margin-left: 3em;
    }
    section {
        display: flex;
        justify-content: space-around;
        height: 436px;
    }
    .title {
        width: 100px;
        padding: 2.5em 0 0 0;   
    }
    .section-info {
        padding: 1.3em 0 0 1.9em;  
    }
    .section-info p {
        margin-top: 0;
        padding: 0 ;
    }
    .section-info .main {
        width: 398px;
        height: 112px;
        margin-left: 0.4em;
    }
    .para-section {
        padding: 1em 0 0 0.5em;
    }
    .section-info h1 {
        padding: 1.8em 0.5em 0em 0.2em;
    }
    footer {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        height: 216px;
    }
    .info {
        margin: 2.4em 1em;
    }
    .social-icons {
        margin: 3.1em 0 ;
    }
}
@media only screen and (min-width: 768px) {
     .map-imgtablet {
        display: none;
     }
     .map-imgdesktop {
        display: block;
     }
     .link2 {
        margin-left: 8em;
     }
     .title .title-h1 {
        font-size: 53px;
        padding: 1em 0.5em 0 0 ;
     }
     .section-info h1 {
        font-size: 36px;
     }
     .section-info p {
        font-size: 22px;
     }
     .info {
        width: 430px;
        height: 84px;
        font-size: 18px;
        line-height: 28px;
     }
}
